In [1]:
# import initial libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path
from pandas_datareader import data as wb
import datetime
import math
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense

/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [11]:
index = ['AAPL']
data_df = pd.DataFrame()
for i in index:
    data_df[i]=wb.DataReader(i, 
                             data_source = 'yahoo', 
                             start ='2000-1-1', 
                             end = '2020-2-28') ['Adj Close']

In [12]:
path = Path('F-F_Research_Data_Factors_daily 2.CSV')
ffm_3 = pd.read_csv(path, index_col ='Date', infer_datetime_format=True)
ffm_3.index = pd.DatetimeIndex(ffm_3.index)

In [13]:
data = pd.concat([data_df, ffm_3], axis =1 , join ='inner')

In [14]:
data = data.reindex(columns =['Mkt-RF', 'SMB', 'HML', 'RF', 'Adj Close'])

In [15]:
data

            Mkt-RF   SMB   HML     RF  Adj Close
Date
2000-01-03   -0.71  0.38 -0.85  0.021        NaN
2000-01-04   -4.06 -0.04  2.21  0.021        NaN
2000-01-05   -0.09  0.18  0.14  0.021        NaN
2000-01-06   -0.73 -0.67  1.38  0.021        NaN
2000-01-07    3.21 -0.59 -1.24  0.021        NaN
...            ...   ...   ...    ...        ...
2020-02-24   -3.38  0.19 -0.04  0.006        NaN
2020-02-25   -3.09 -0.10 -0.72  0.006        NaN
2020-02-26   -0.52 -0.41 -1.26  0.006        NaN
2020-02-27   -4.22  0.73  0.14  0.006        NaN
2020-02-28   -0.78  0.27 -0.78  0.006        NaN

[5071 rows x 5 columns]

In [34]:
# Creating the X and y sets
X = data.iloc[:, 0:4].values
y = data['^GSPC'].values

#Scaling the data
scaler = StandardScaler().fit(X)
X = scaler.transform(X)

#Creating training, validation, and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, random_state=78)