In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from pathlib import Path
from pandas_datareader import data as wb
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [62]:
index = ['^GSPC']
data_df = pd.DataFrame()
for i in index:
    data_df[i]=wb.DataReader(i, 
                             data_source = 'yahoo', 
                             start ='2000-1-1', 
                             end = '2020-2-28') ['Adj Close']

In [63]:
data_df = data_df.pct_change()

In [64]:
path = Path('F-F_Research_Data_5_Factors_2x3_daily.CSV')
ffm_5 = pd.read_csv(path, index_col ='Date', infer_datetime_format=True)
ffm_5.index = pd.DatetimeIndex(ffm_5.index)

In [65]:
data = pd.concat([data_df, ffm_5], axis =1 , join ='inner')

In [66]:
data = data.reindex(columns =['Mkt-RF', 'SMB', 'HML','RMW', 'CMA', 'RF', '^GSPC'])

In [67]:
data

            Mkt-RF   SMB   HML   RMW   CMA     RF     ^GSPC
Date
2000-01-03   -0.71 -0.16 -0.85 -1.40 -0.77  0.021       NaN
2000-01-04   -4.06  0.33  2.21  0.32  1.46  0.021 -0.038345
2000-01-05   -0.09  0.31  0.14  0.36  1.01  0.021  0.001922
2000-01-06   -0.73 -0.12  1.38  0.54  1.19  0.021  0.000956
2000-01-07    3.21 -0.97 -1.24 -0.79 -0.95  0.021  0.027090
...            ...   ...   ...   ...   ...    ...       ...
2020-02-24   -3.38  0.15 -0.04 -0.37  0.20  0.006 -0.033514
2020-02-25   -3.09 -0.34 -0.72 -0.63  0.03  0.006 -0.030280
2020-02-26   -0.52 -0.79 -1.26 -0.52 -0.12  0.006 -0.003779
2020-02-27   -4.22  0.69  0.14 -0.35 -0.09  0.006 -0.044163
2020-02-28   -0.78  0.06 -0.78  0.32 -0.41  0.006 -0.008238

[5071 rows x 7 columns]

In [ ]:
# Creating the X and y sets
X = data.iloc[:, 0:4].values
y = data['^GSPC'].values

#Scaling the data
scaler = StandardScaler().fit(X)
X = scaler.transform(X)

#Creating training, validation, and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, random_state=78)