In [1]:
import yfinance as yf

In [2]:
aapl = yf.Ticker("AAPL")
print(aapl)

yfinance.Ticker object <AAPL>

In [3]:
# get stock info
aapl.info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 137000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides digital content stores and streaming services; AppleCare support services; and iCloud, a cloud service, which stores music, photos, contacts, calendars, mail, documents, and others. In addition, the company offers various service, such as Apple Arcade, a game subscription service; Apple Card, a co-branded credit card; Apple News+, a subscription news and magazine service; and Apple Pay, a cashless payment service, as well as licenses its intellectual property, and provides other related services. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store, Mac App Store, and Watch App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408-996-1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'previousClose': 259.43,
 'regularMarketOpen': 262.74,
 'twoHundredDayAverage': 272.18396,
 'trailingAnnualDividendYield': 0.0117179975,
 'payoutRatio': 0.2394,
 'volume24Hr': None,
 'regularMarketDayHigh': 267.37,
 'navPrice': None,
 'averageDailyVolume10Day': 43257066,
 'totalAssets': None,
 'regularMarketPreviousClose': 259.43,
 'fiftyDayAverage': 270.4357,
 'trailingAnnualDividendRate': 3.04,
 'open': 262.74,
 'toCurrency': None,
 'averageVolume10days': 43257066,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 3.08,
 'exDividendDate': 1581033600,
 'beta': 1.173542,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 261.23,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 21.12505,
 'regularMarketVolume': 39582531,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1164183994368,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 49993640,
 'priceToSalesTrailing12Months': 4.3491144,
 'dayLow': 261.23,
 'ask': 265.91,
 'ytdReturn': None,
 'askSize': 900,
 'volume': 39582531,
 'fiftyTwoWeekHigh': 327.85,
 'forwardPE': 17.597223,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.6,
 'fiftyTwoWeekLow': 170.27,
 'bid': 265.29,
 'tradeable': True,
 'dividendYield': 0.0119,
 'bidSize': 1400,
 'dayHigh': 267.37,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 4.276,
 'beta3Year': None,
 'profitMargins': 0.21490999,
 'enterpriseToEbitda': 14.653,
 '52WeekChange': 0.30829429999999997,
 'morningStarRiskRating': None,
 'forwardEps': 15.12,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 4375479808,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 20.418,
 'sharesShort': 38427917,
 'sharesPercentSharesOut': 0.0088,
 'fundFamily': None,
 'lastFiscalYearEnd': 1569628800,
 'heldPercentInstitutions': 0.61777,
 'netIncomeToCommon': 57527001088,
 'trailingEps': 12.595,
 'lastDividendValue': None,
 'SandP52WeekChange': -0.07774019,
 'priceToBook': 13.03115,
 'heldPercentInsiders': 0.0006600000000000001,
 'nextFiscalYearEnd': 1632787200,
 'mostRecentQuarter': 1577491200,
 'shortRatio': 0.65,
 'sharesShortPreviousMonthDate': 1581638400,
 'floatShares': 4370491953,
 'enterpriseValue': 1144719802368,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1402272000,
 'lastSplitFactor': '7:1',
 'legalType': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.114,
 'dateShortInterest': 1584057600,
 'pegRatio': 1.71,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0088,
 'sharesShortPriorMonth': 40890848,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 262.74,
 'logo_url': 'https://logo.clearbit.com/apple.com'}

In [30]:
# get historical market data
apple_historical = aapl.history(period="max")
apple_historical.to_csv("apple_max.csv")

In [4]:
aapl.history(period="max")

              Open    High     Low   Close     Volume  Dividends  Stock Splits
Date
1980-12-12    0.41    0.41    0.41    0.41  117258400        0.0           0.0
1980-12-15    0.39    0.39    0.39    0.39   43971200        0.0           0.0
1980-12-16    0.36    0.36    0.36    0.36   26432000        0.0           0.0
1980-12-17    0.37    0.37    0.37    0.37   21610400        0.0           0.0
1980-12-18    0.38    0.38    0.38    0.38   18362400        0.0           0.0
...            ...     ...     ...     ...        ...        ...           ...
2020-04-02  240.34  245.15  236.90  244.93   41483500        0.0           0.0
2020-04-03  242.80  245.70  238.97  241.41   32470000        0.0           0.0
2020-04-06  250.90  263.11  249.38  262.47   50455100        0.0           0.0
2020-04-07  270.80  271.70  259.00  259.43   50646300        0.0           0.0
2020-04-08  262.74  267.37  261.23  266.07   39582531        0.0           0.0

[9914 rows x 7 columns]

In [5]:
# show actions (dividends, splits)
aapl.actions

            Dividends  Stock Splits
Date
1987-05-11    0.00214           0.0
1987-06-16    0.00000           2.0
1987-08-10    0.00214           0.0
1987-11-17    0.00286           0.0
1988-02-12    0.00286           0.0
...               ...           ...
2019-02-08    0.73000           0.0
2019-05-10    0.77000           0.0
2019-08-09    0.77000           0.0
2019-11-07    0.77000           0.0
2020-02-07    0.77000           0.0

[70 rows x 2 columns]

In [6]:
# show dividends
aapl.dividends

Date
1987-05-11    0.00214
1987-08-10    0.00214
1987-11-17    0.00286
1988-02-12    0.00286
1988-05-16    0.00286
               ...
2019-02-08    0.73000
2019-05-10    0.77000
2019-08-09    0.77000
2019-11-07    0.77000
2020-02-07    0.77000
Name: Dividends, Length: 66, dtype: float64

In [7]:
# show splits
aapl.splits

Date
1987-06-16    2.0
2000-06-21    2.0
2005-02-28    2.0
2014-06-09    7.0
Name: Stock Splits, dtype: float64

In [24]:
aapl.get_balance_sheet('A')

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [25]:
aapl.balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [26]:
aapl.recommendations

                         Firm    To Grade From Grade Action
Date
2012-02-09  Canaccord Genuity         Buy              main
2012-03-08     FBN Securities  Outperform              main
2012-03-13          Jefferies         Buy              main
2012-03-14     Morgan Stanley  Overweight              main
2012-03-14  Canaccord Genuity         Buy              main
...                       ...         ...        ...    ...
2020-03-25      Deutsche Bank         Buy       Hold     up
2020-03-30                UBS         Buy              main
2020-04-03      Credit Suisse     Neutral              main
2020-04-03     Morgan Stanley  Overweight              main
2020-04-08          JP Morgan  Overweight              main

[712 rows x 4 columns]

In [28]:
aapl.financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []