In [1]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

In [62]:
from iexfinance.stocks import get_historical_data
from iexfinance.refdata import get_symbols

In [65]:
tickers=pd.DataFrame(get_symbols())

0           cs
2           et
3           ad
31          ps
41          ut
42          wt
67         cef
159         rt
1293    struct
Name: type, dtype: object

In [78]:
tickers.type.drop_duplicates(inplace = True)

In [95]:
ticker = ["AAPL"]
end = datetime.now() + timedelta(-1828)
start = end + timedelta(-3650)
#df = get_historical_data(ticker, start, end,output_format="pandas")

In [96]:
print(end)

2015-04-07 16:35:43.360971

In [97]:
print(start)

2005-04-09 16:35:43.360971

In [81]:
df.to_pickle("5_years_AAPL")

In [82]:
df

              open    high     low   close    volume
date
2015-04-08  125.85  126.40  124.97  125.60  37329243
2015-04-09  125.85  126.58  124.66  126.56  32483974
2015-04-10  125.95  127.21  125.26  127.10  40187953
2015-04-13  128.37  128.57  126.61  126.85  36365123
2015-04-14  127.00  127.29  125.91  126.30  25524593
...            ...     ...     ...     ...       ...
2019-12-24  284.69  284.89  282.92  284.27  12119714
2019-12-26  284.82  289.98  284.70  289.91  23334004
2019-12-27  291.12  293.97  288.12  289.80  36592936
2019-12-30  289.46  292.69  285.22  291.52  36059614
2019-12-31  289.93  293.68  289.52  293.65  25247625

[1193 rows x 5 columns]

In [98]:
ticker = ["AAPL"]
end = datetime.now() + timedelta(-1828)
start = end + timedelta(-3650)
df1 = get_historical_data(ticker, start, end,output_format="pandas")

ValueError: Invalid date specified. Must be within past 5 years.